body {
    /* background-image: url("../img/bg.jpg");*/
    background-color: #fdefef;
}
.car-item{
    text-align: center;
}

    .car-item .car-img {
        width: 100%;
        max-height: 100%;
    }

.car-img-block {
 height: 200px;
}